[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
tweepy = "*"
basilica = "*"
python-decouple = "*"
dotenv = "*"
scikit-learn = "*"
python-dotenv = "*"
sklearn = "*"
decouple = "*"
pickel = "*"
pickle = "*"
pickle-mixin = "*"

[requires]
python_version = "3.7"
